a {
  position: relative;
}

button.delete {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 100;
}

@media (max-width: 767px) {
  button.delete {
    top: 1px;
    right: 1px;
    line-height: 12px;
    padding: 1px 5px;
  }
}